@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userCard {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

.data {
  position: relative;
  padding: 10px;
}

.picture {
  border-radius: 50%;
  width: 150px;
  border: 1px solid black;
  margin: 20px;
}

.name {
  font-size: xx-large;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  margin: 5px;
}

.searchBox {
  width: 100%;
}

.searchBox input {
  display: block;
  margin: 0 auto;
  
}

input {
  width: 95%;
  padding: 10px;
  font-family: 'Raleway';
  font-size: larger;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
}

.userCard .toggle {
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.userCard .toggle button{
  border: none;
  background: none;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.475)
}

.userCard .toggle button:hover {
  font-weight: bold;
  color:rgb(0, 0, 0)
}

.userCard .userInfo .tags {
  display: flex;
}

.userCard .userInfo .tags div {
  background-color: rgba(0, 0, 0, 0.212);
  margin: 5px;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
}